<div class="container">
  <div class="top-right-link">
    <a [routerLink]="['/map']" class="compare-link">
      <img src="assets/icons/AI.png" alt="AI Icon">
      See how you compare with other companies
    </a>
  </div>

  <div class="header">
    <h2 class="decarb-title">Saved Decarbonization Journeys</h2>
    <button (click)="openModal()" class="create-journey">
      <img src="../../assets/icons/add-circle-outline.png" alt="circle outline Icon"> Create New Journey
    </button>
  </div>

  <div class="journey-header">
    <div class="column-title">Title</div>
    <div class="column-scope">Scope</div>
    <div class="column-timeline">Timeline</div>
    <div class="column-cost">Cost savings</div>
    <div class="column-co2">CO2 savings</div>
    <div class="column-actions"></div>
  </div>

  <div class="journey-list">
    <div *ngFor="let journey of journeys; let i = index" class="journey-item">
      <div class="column-title">{{ journey.title }}</div>
      <div class="column-scope">
        <img src="../../assets/icons/scope.png" alt="Scope Icon"> 
        {{ journey.scope.join(', ') }}  <!-- Display scope as 1, 2, 3 -->
      </div>
      <div class="column-timeline">
        <img src="../../assets/icons/clock.png" alt="Clock Icon">
        {{ journey.years }} yrs 
      </div>
      <div class="column-cost">
        <img src="assets/icons/cash.png" alt="Cash Icon">
        ${{ journey.costSavings }}{{ journey.costUnit }}
      </div>
      <div class="column-co2">
        <img src="../../assets/icons/carbon.png" alt="Carbon Icon"> 
        {{ journey.co2Savings }} mt CO2e
      </div>
      <div class="column-actions journey-actions">
        <button class="view-button">View</button>
        <div class="dropdown">
          <button class="dots-button" (click)="toggleDropdown(i)">...</button>
          <div class="dropdown-content" *ngIf="activeDropdown === i">
            <button (click)="editJourney(i)">Edit</button>
            <button (click)="deleteJourney(i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal" id="createJourneyModal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close-button" (click)="closeModal()">&times;</span>
      <h2>Create New Journey</h2>
      <form (ngSubmit)="createJourney()">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" [(ngModel)]="newJourney.title" required />
        </div>

        <div class="form-group">
          <label for="scope">Scope:</label>
          <div class="scope-buttons">
            <button 
              type="button" 
              class="scope-button" 
              [class.active]="newJourney.scope.includes('Scope 1')" 
              (click)="toggleScope('Scope 1')">
              Scope 1
            </button>
            <button 
              type="button" 
              class="scope-button" 
              [class.active]="newJourney.scope.includes('Scope 2')" 
              (click)="toggleScope('Scope 2')">
              Scope 2
            </button>
            <button 
              type="button" 
              class="scope-button" 
              [class.active]="newJourney.scope.includes('Scope 3')" 
              (click)="toggleScope('Scope 3')">
              Scope 3
            </button>
          </div>
        </div>
        

        <div class="form-group">
          <label for="timeline">Timeline:</label>
          <div style="display: flex;">
            <input type="number" id="years" name="years" [(ngModel)]="newJourney.years" placeholder="Years" style="flex: 1; margin-right: 10px;" />
            
          </div>
        </div>

        <div class="form-group">
          <label for="costSavings">Cost Savings:</label>
          <input 
            type="number" 
            id="costSavings" 
            name="costSavings" 
            [(ngModel)]="newJourney.costSavings" 
            disabled 
          />
        </div>
        
        <div class="form-group">
          <label for="co2Savings">CO2 Savings (in mt CO2e):</label>
          <input 
            type="number" 
            id="co2Savings" 
            name="co2Savings" 
            [(ngModel)]="newJourney.co2Savings" 
            disabled 
          />
        </div>
        
        <a [routerLink]="['/journey']" class="compare-link">
        <button type="submit" class="submit-button">Save Journey</button></a>
      </form>
    </div>
  </div>
</div>
