.step-details {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  position: relative; /* Allows absolute positioning of child elements */
}
.scope-header {
  display: flex;
  align-items: center;
  position: relative;
}
.check-box-container {
  position: absolute;
  top: 40%; /* Align vertically with the step component */
  left: -60px; /* Move it outside the component */
  transform: translateY(-50%); /* Center align the container */
  display: flex;
  flex-direction: column; /* Align checkbox and line vertically */
  align-items: center;
}
.vertical-line {
  position: absolute;
  top: calc(100% + 10px); /* Starts 10px below the checkbox */
  width: 1px;
  height: calc(100% - 40px); /* Adjusts to fill remaining space */
  background-color: #ddd;
  z-index: 0; /* Keeps the line behind other elements */
}
.step-header {
  flex: 1; /* Allow the title and dropdown arrow to fill the remaining space */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

.check-box {
  cursor: pointer;
  margin-bottom: 10px;
}
.check-box-icon{
  height:40px;
  width:40px;
}
.title {
  font-size: 20px;
  font-weight: bold;
}

.dropdown-arrow svg {
  width: 25px;
  height: 25px;
}

.step-content {
  padding-top: 10px;
}

.svg-container img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.svg-container {
  display: flex;
  align-items: center;
  font-size: 16px; /* Increase font size for implementation labels */
  font-weight: 500;
  margin: 8px 0;
}

.implementation,
.provider-info,
.savings-info {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.provider-info p,
.savings-info p,
.implementation p {
  margin: 0;
}

.provider-item {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.provider-item:last-child {
  border-bottom: none;
}

.provider-info a {
  color: #5c2bff;
  text-decoration: none;
}

.provider-info a:hover {
  text-decoration: underline;
}

.provider-info ul {
  padding-left: 20px; /* Add spacing between provider items */
}

.provider-info strong {
  display: block;
  margin-bottom: 4px; /* Add spacing between provider name and details */
}

.savings-info p {
  margin-bottom: 8px; /* Add space between cost savings and CO₂ savings */
}
