<div class="main-buttons">
  <div class="year-buttons">
    <div 
      class="year-button" 
      *ngFor="let year of availableYears" 
      [class.selected]="selectedYears[year]"
      (click)="toggleYearSelection(year)">
      {{ year }}
    </div>
  </div>
</div>

<div *ngFor="let step of quartileData">
  <ng-container [ngSwitch]="step.scope_type">

    <!-- Scope 1 -->
    <p class="scope-headings" *ngSwitchCase="1">
      <span class="year" >{{ step.year }}</span> 
      <span class="scope">Scope {{ step.scope_type }}</span><br>
      <span class="quarter">Q{{ step.quarter }}</span>
    </p>
    <app-scope1-step
      *ngSwitchCase="1"
      [stepData]="step"
      (stepToggled)="onStepToggling(step);">
    </app-scope1-step>

    <!-- Scope 2 -->
    <p class="scope-headings" *ngSwitchCase="2">
      <span class="year">{{ step.year }}</span> 
      <span class="scope">Scope {{ step.scope_type }}</span><br>
      <span class="quarter">Q{{ step.quarter }}</span>
    </p>
    <app-scope2-step
      *ngSwitchCase="2"
      [stepData]="step"
      (stepToggled)="onStepToggling(step); onItemChecked($event); onStepToggled(step)">
    </app-scope2-step>

    <!-- Scope 3 -->
    <p class="scope-headings" *ngSwitchCase="3">
      <span class="year">{{ step.year }}</span> 
      <span class="scope">Scope {{ step.scope_type }}</span><br>
      <span class="quarter">Q{{ step.quarter }}</span>
    </p>
    <app-scope3-step
      *ngSwitchCase="3"
      [stepData]="step"
      (stepToggled)="onStepToggling(step); onItemChecked($event); onStepToggled(step)">
    </app-scope3-step>

  </ng-container>
</div>
