/* General button styles */

  
  /* Dropdown styles */
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .dropdown-arrow {
    font-size: 18px;
    transform: rotate(0);
    transition: transform 0.3s ease;
  }
  
  .dropdown-arrow.open {
    transform: rotate(180deg);
  }
  
  .dropdown-content {
    display: none;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  }
  
  .dropdown-content.show {
    display:block;
  }
  
  .dropdown-content p {
    margin: 10px 0;
  }
  .provider-info {
    margin-top: 10px;
  }
  .provider-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .provider-info li {
    margin-bottom: 10px;
  }
  
  /* Tick mark and completion styles */
  .checkmark {
    display: inline-block;
    color: green;
    margin-right: 10px;
    font-size: 18px;
    visibility: hidden;
  }
  
  .checkmark.completed {
    visibility: visible;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .completed-task {
    color: green;
    font-weight: bold;
  }
  
  