.main-buttons {
  display: flex;
  gap:50px;
  margin-bottom: 20px;
}

 .year-buttons {
  display: flex;
  gap: 30px;
}

 .year-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top:10px;
  padding-bottom:10px;
  border: 1px solid #673be5;
  border-radius: 30px;
  cursor: pointer;
  color: #673be5;
  transition: background-color 0.3s;
}

 .year-button.year-button.selected {
  background-color: #673be5;
  color:white
}
button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Dropdown styles */
.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 10px;
  background-color: #f1f1f1;
}

.dropdown-arrow {
  font-size: 10px;
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-top: 5px;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content p {
  margin: 10px 0;
}

/* Provider information styles */
.provider-info {
  margin-top: 10px;
}

.provider-info ul {
  list-style-type: none;
  padding: 0;
}

.provider-info li {
  margin-bottom: 10px;
}

/* Tick mark and completion styles */
.checkmark {
  display: inline-block;
  color: green;
  margin-right: 10px;
  font-size: 18px;
  visibility: hidden;
}

.checkmark.completed {
  visibility: visible;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.completed-task {
  color: green;
  font-weight: bold;
}
.scope-headings{
  padding-left:90px;
  font-size: 20px;
  text-transform: capitalize;
}


.step-content.ngIf {
  max-height: 500px;
}
 
  