<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="layout">

    <!-- Current Plan Section -->
    <div class="current-plan" *ngIf="currentDetails">
        <h2 class="card-header">Current Provider and Plan</h2>
        <div class="card-body">
            <p><strong>Current Provider:</strong> {{ currentDetails.currentProvider }}</p>
            <p><strong>Current Plan:</strong> {{ currentDetails.currentPlan }}</p>
            <p><strong>Current Cost:</strong> ${{ currentDetails.currentCost }}</p>
            <p><strong>Current Emissions:</strong> {{ currentDetails.currentEmissions }} kCO₂</p>
        </div>
    </div>

    <!-- Main Content Section -->
    <div class="main-content">
        <!-- {{stepData | json}} -->
        <h1>Welcome to <span class="highlight">Carbon Savings</span></h1>
        <h2>Switch to the optimized plan for carbon removal.</h2>
        <div class="providers-data">
            <div *ngFor="let provider of stepData?.providerInfo; let i = index" class="provider-card">
                <!-- Provider Details -->
                <img [src]="getImagePath(provider.name)" alt="{{ provider.name }} logo" class="provider-img">
                <h3>{{ provider.name }}</h3>

                <!-- Recommendation Label -->
                <div [ngClass]="{'tab': true, 'recommended': i === 0, 'other': i !== 0}">
                    {{ i === 0 ? 'Our Recommendation' : 'Other Options' }}
                </div>

                <p><i class="fa fa-map-marker" style="margin-right: 8px;"></i>  {{ provider.location }}</p>

                <!-- View Information Button -->
                <button (click)="openModal(provider)">View Information</button>
            </div>
        </div>
    </div>

    <!-- Modal for Provider Details -->
    <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
            <div class="close" (click)="closeModal()">X</div>
            <img [src]="getImagePath(selectedProvider.name)" alt="{{ selectedProvider.name }} logo" class="modal-image">

            <div class="modal-text">
                <h2>{{ selectedProvider?.name }}</h2>
                <p>{{ selectedProvider?.details }}</p>
                <p><strong>Carbon Cost:</strong> ${{ selectedProvider?.carbon_cost }}</p>
                <p><strong>Total Cost:</strong> ${{ selectedProvider?.total_cost }}</p>
                <p><strong>Transition Percentage:</strong> {{ selectedProvider?.transition_percentage }}%</p>
                <a [href]="selectedProvider?.website" target="_blank" class="btn-website">Visit Website</a>
            </div>
        </div>
    </div>
</div>
