.step-details {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  position: relative; /* Ensure child absolute elements can be positioned relative to this container */
}

.step-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  position: relative; /* Allows the checkbox icon to be positioned relative to the header */
}

.checkbox-icon {
  position: absolute; /* Position the icon outside the component */
  top: 50%; /* Center vertically relative to the parent */
  left: 100%; /* Place it just outside the component */
  transform: translate(15px, -50%); /* Adjust position with spacing outside the component */
  z-index: 10; /* Ensure it appears on top */
  width: 24px; /* Standardize icon size */
  height: 24px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 16px; /* Add space between the icon and title */
  flex: 1;
}

.dropdown-arrow svg {
  width: 25px;
  height: 25px;
}

.step-content {
  padding-top: 10px;
}

.svg-container img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.svg-container {
  display: flex;
  align-items: center;
  font-size: 16px; /* Increase font size for implementation labels */
  font-weight: 500;
  margin: 8px 0;
}

.implementation,
.provider-info,
.savings-info {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.provider-info p,
.savings-info p,
.implementation p {
  margin: 0;
}

.provider-item {
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.provider-item:last-child {
  border-bottom: none;
}

.provider-info a {
  color: #5c2bff;
  text-decoration: none;
}

.provider-info a:hover {
  text-decoration: underline;
}

.provider-info ul {
  padding-left: 20px; /* Add spacing between provider items */
}

.provider-info strong {
  display: block;
  margin-bottom: 4px; /* Add spacing between provider name and details */
}

.savings-info p {
  margin-bottom: 8px; /* Add space between cost savings and CO₂ savings */
}
