<div class="top-right-link">
  <a [routerLink]="['/map']" class="compare-link">
    <img src="assets/icons/AI.png" alt="AI Icon">
    See how you compare with other companies
  </a>
</div>

<div class="decarbonize-header">
  <h1>Your decarbonization journey with AI</h1>
  
  <div>
    
  <p>Choose from a variety of AI-recommended actions to get started on your decarbonization journey. Add preferred actions to track your progress towards your CO2 savings goal in real-time, just like a shopping cart. Calculate your total savings and see how close you are to achieving your target. </p>
  <div class="main-buttons">
    <div class="quartile-buttons">
      <div class="quartile-button">First Quartile</div>
      <div class="quartile-button">Second Quartile</div>
      <div class="quartile-button">Third Quartile</div>
      <div class="quartile-button">Fourth Quartile</div>
    </div>
    <div class="year-buttons">
      <div class="year-button">2025</div>
      <div class="year-button">2026</div>
      <div class="year-button">2027</div>
      <div class="year-button">2028</div>
    </div>
  </div>
</div>

<div class="content">
  <div class="main-content">
      <cs-decarb-quartile-section (itemChecked)="onItemChecked($event)"></cs-decarb-quartile-section>
      <div>
      </div>
  </div>
  <div class="side-content">
      <cs-decarb-shopping-cart></cs-decarb-shopping-cart>
  </div>
</div>

  