:host {
    display: block;
    width: 100%;
}


/* Content layout styling */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-left: 2rem;
}

.main-content {
    flex: 1.5;
    padding: 1rem;
    box-sizing: border-box;
}

.side-content {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .quartile-buttons {
        justify-content: flex-start;
    }
    }
    
